{% extends 'base.html' %}

{% block title %}Posts Home{% endblock %}

{% block content %}

<h1>Blogly Most Recent Posts</h1>

{% for post in posts %}
<h2><a href="/posts/{{post.id}}">{{post.title}}</a></h2>
<p>{{post.content}}</p>
<p>By <a href="/users/{{post.user_id}}">{{ post.user.full_name }}</a> on {{ post.formatted_date }}</p>
{% if post.tags %}
<p>
  <b>Tags:</b>
  {% for tag in post.tags %}
  <a href="/tags/{{tag.id}}">{{tag.name}}</a>
  {% endfor %}
</p>
{% endif %}
{% endfor %}


{% endblock %}